<ion-view view-title="Beer Browser">
  <ion-content class="horn-bg">

    <div id="addBeer" ng-show="auth.isAdmin()" class="row">
      <div class="col text-right">
      <button class="button button-block button-positive ion-plus-round" ng-click="openModal()">
        Add Beer
      </button>
      </div>
    </div>

    <div id="retry" ng-show="noBeers" class="row">
        <div class="col text-center">
          <h2>No Beers!</h2>
          <button class="button button-block button-positive"
            ng-click="refresh()">Click to Retry</button>
      </div>
    </div>

    <ion-list>
        <ion-item class="item-text-wrap item-stable" ng-repeat="beer in allBeers">
          <div class="row">
              <div class="col col-50">
                <b>{{beer.name}}</b><br>
                {{beer.brewery}}<br>
                {{beer.country}} {{beer.region}}
              </div>
              <div class="col col-50">{{beer.style}}<br>
                {{beer.abv}}% abv<br>
                {{beer.oz}} oz
              </div>
          </div>
          <ion-option-button ng-show="auth.isAdmin()" class="button-positive button-large" ng-click="openModal(beer)">Edit</ion-option-button>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
