<ion-view view-title="World of Beer Tour">
  <ion-content class="main-bg">

    <div class="col text-center">
        <h5 class="text">{{myBeerList.user.name}} (#{{myBeerList.listNumber}}) - Started {{myBeerList.startDate}}
        <br>Beers left to finish: {{myBeerList.numberRemaining}}</h5>
    </div>

    <!-- TODO add progress bar:  <progress max="100" value="80"></progress> -->
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refresh()">
      </ion-refresher>
      <ion-list can-swipe="true">
        <ion-item class="item-text-wrap item-dark" ng-repeat="drink in myBeerList.drinkList">
          <div class="row">
              <div class="col col-50">
                <b>{{drink.beer.name}}</b><br>
                {{drink.beer.brewery}}<br>
                {{drink.beer.country}} {{drink.beer.region}}
              </div>
              <div class="col col-50">{{drink.beer.style}}<br>
                {{drink.beer.abv}}% abv<br>
                {{drink.beer.oz}} oz
              </div>
          </div>
          <ion-option-button class="button-positive button-large" ng-click="drinkBeer(myBeerList.id,drink.id)">Drink!</ion-option-button>
        </ion-item>
      </ion-list>


  </ion-content>
</ion-view>
