<ion-view view-title="World Beer Tour">
  <ion-content class="grad-bg">

      <div class="row padding-top">
          <div class="col text-center h2">World Beer Tour</div>
      </div>

      <div class="row">
          <div class="col text-center">
            <i class="icon ion-beer icon-bg"></i>
          </div>
      </div>

      <button class="button button-block button-stable button-large" ng-click="browse()">Browse Beers</button>
      <button class="button button-block button-stable button-large" ng-click="join()">Join</button>
      <button class="button button-block button-stable button-large" ng-click="login()">Log In</button>

  </ion-content>
</ion-view>
