<ion-view view-title="World Beer Tour">
  <ion-content class="start-bg">

      <p padding>
      <div class="title-block text-center">
          <p>World Beer Tour</p>
          <i class="icon ion-beer icon-bg"></i>
      </div>
    </p>

    <button class="button button-block button-stable button-large" ng-click="browse()">Browse Beers</button>
    <button class="button button-block button-stable button-large" ng-click="join()">Join</button>
    <button class="button button-block button-stable button-large" ng-click="login()">Log In</button>

  </ion-content>
</ion-view>
