<div ng-controller="View1Ctrl as vm">
  <md-content>

  <div class="beer-report-header">Doe's Eat Place - Bentonville</div>

    <div layout="column" layout-align="center center">
      <md-input-container class="hide-print">
        <label>Search</label>
        <input type="text" ng-model="searchText">
      </md-input-container>
    </div>

  <div layout="row" layout-sm="column" layout-align="center center" ng-show="!vm.activated">
      <md-progress-circular md-mode="indeterminate" ng-disabled="!vm.activated"></md-progress-circular>
  </div>

  <div class="beer-report-subtitle">Choose from {{vm.numBeers}} beers</div>

  <div class="beer-report" ng-show="vm.activated">
    <div ng-click="null" ng-repeat="group in vm.groupedBeers">
      <div class="beer-group-heading" ng-show="!vm.inSearch()">{{group.country}}</div>
      <div class="beer-group">
        <div class="beer" ng-click="null" ng-repeat="beer in group.beers | filter:searchText">
          {{beer.name}}
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div class="beer-report-subtitle print-only">
    Download the Beer Tour at https://www.mondoes.club
  </div>
  <br>
  <div class="beer-report-subtitle print-only">
    <img ng-src="assets/mondoes-qr.jpg" height="100"/>
  </div>

</md-content>

</div>
