<div ng-controller="View1Ctrl as vm">
  <div layout="column" layout-align="center center">
    <h3>Doe's Eat Place - Bentonville</h3>
    <div>Download the Beer Tour at https://www.mondoes.club</div>
  </div>
  <md-content>

    <div layout="column" layout-align="center center">
      <md-input-container class="hide-print">
        <label>Search</label>
        <input type="text" ng-model="searchText">
      </md-input-container>
    </div>

    <md-divider></md-divider>

    <div layout="row" layout-wrap layout-margin-sm layout-padding layout-align="center">
        <div flex="25" ng-click="null" ng-repeat="group in vm.groupedBeers">
          <div id="beer-group">{{group.country}}</div>
          <div ng-click="null" ng-repeat="beer in group.beers | filter:searchText" class="small-text">
            {{beer.name}}
          </div>
        </div>
    </div>

  </md-content>
</div>
