/* Empty. Add your own CSS if you like */

.grad-bg {
    background: linear-gradient( white, #B30000, black, #B30000, gray);
}

.cardinal-bg {
    background: #C41E3A;

}



.icon-bg {
    font-size: 120px;
}
