
body {
	background-color: #C41E3A;
	padding-top: 0px;
	padding-bottom: 0px;
}

h1 {
	background-color: #C41E3A;
    color:  #ffffb3;
    font-size: 2.3em;
    font-weight: bold;
	
}

.steak-bg {
	background-image: url('../img/feature-graphic-1024-500.png');	
	background-size: cover;
	background-repeat: no-repeat;
}

#footer {
	background-color: #C41E3A;	
}
