<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Tour - Hello</title>
    <!-- Bootstrap core CSS -->
    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQWidgets CSS -->
    <link href="webjars/jqwidgets/3.9.1/styles/jqx.base.css" rel="stylesheet">
    <link href="webjars/jqwidgets/3.9.1/styles/jqx.bootstrap.css" rel="stylesheet">
</head>
<body class='default'>
	<!-- wrap all page content here -->
	<div id="wrap">
		<!-- Begin page content -->
		<div class="container">
			<div class="page-header">
				<h1>Beer Tour</h1>
			</div>
			<h2>Hello, Not much to see here yet!</h2>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/jqwidgets/3.9.1/jqxcore.js"></script>
    <!-- ================================================== -->
    <!-- Add addition JavaScript files here -->
</body>
</html>    
