<ion-view view-title="Beer Browser">
  <ion-content>

      <ion-list>
        <ion-item ng-repeat="beer in beers">
          <div class="row">
              <div class="col">
                <b>{{beer.name}}</b><br>
                {{beer.brewery}}<br>
                {{beer.country}} {{beer.region}}
              </div>
              <div class="col col-30">{{beer.style}}<br>
                {{beer.abv}}% abv<br>
                {{beer.oz}} oz
              </div>
          </div>
          <ion-option-button ng-show="auth.isAdmin()" class="button-positive button-large" ng-click="openModal(beer)">Edit</ion-option-button>
        </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
