<ion-view view-title="Beer Browser">
  <ion-content>

    <div id="addBeer" ng-show="auth.isAdmin()" class="row">
      <div class="col text-right">
      <button class="button button-block button-positive ion-plus-round" ng-click="add()">
        Add Beer
      </button>
      </div>
    </div>

    <div class="row">
        <div class="col text-center">{{errorMessage}}</div>
    </div>


      <ion-list>
        <ion-item class="item-text-wrap" ng-repeat="beer in beers">
          <div class="row">
              <div class="col col-60">
                <b>{{beer.name}}</b><br>
                {{beer.brewery}}<br>
                {{beer.country}} {{beer.region}}
              </div>
              <div class="col col-40">{{beer.style}}<br>
                {{beer.abv}}% abv<br>
                {{beer.oz}} oz
              </div>
          </div>
          <ion-option-button ng-show="auth.isAdmin()" class="button-positive button-large" ng-click="update(beer)">Edit</ion-option-button>
        </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
