<ion-view view-title="Confirm Beers Drank">
  <ion-content>

      <ion-list can-swipe="true">
        <ion-item ng-repeat="item in drinksToVerify">
          <div class="row">
              <div class="col">{{item.beer.orderedDate}}</div>
              <div class="col">
                {{item.user.name}}<br>
                {{item.beer.beer.name}}
              </div>
          </div>
          <ion-option-button class="button-assertive button-large" ng-click="rejectBeer(item.beerListId,item.beer.id)">Reject!</ion-option-button>
          <ion-option-button class="button-positive button-large" ng-click="verifyBeer(item.beerListId,item.beer.id)">Confirm</ion-option-button>
        </ion-item>
      </ion-list>


  </ion-content>
</ion-view>
