/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.app-nav-bar-icon {
    width: auto;
    height: auto;
    max-height: 100;
    max-width: 100;
}

.small-text {
  font-size: 12px;
}

.beer-report-header {
  text-align:center;
  font-size: 1.5em;
  font-weight: bold;
}

.beer-report-subtitle {
  text-align:center;
}

.beer-group-heading {
    font-size: 1.0em;
    font-weight:bold;
    border-style: hidden;
    border-bottom-style: solid;
    margin-top: 0.5em;
    text-align: center;
}

.beer-group {
  padding: 0.5em;
}

.beer {
    font-size: 0.9em;
    padding: 2px;
}

.beer-report {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  column-gap: 10px;
  column-span: all;
}

@media print {
    .no-print {
        display: none !important;
    }
}

@media not print {
    .print-only {
        display: none !important;
    }
}
